.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 16px;
  visibility: hidden;
}

.row-dragging .drag-visible {
  visibility: visible;
}

.ant-table-body {
  width: 576px;
  table {
    table-layout: auto !important;
  }
}

.ant-typography.ant-typography-success {
  color: #52c41a;
}

.ant-input-number.ant-input-number-lg {
  width: 140px;
}

.ant-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
